body{
    background: #191919;
    display: flex;
    flex-direction: column;
}
/*separador*/
.sep{
    padding: 50px;
}
/* cabecera */
.header{
    background: #2f4550;
    display: flex;
    border-radius: 0 0 2.5em 2.5em;
}
.header-flex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.Name{
    color: #c5c5cf
}
.port{
    color: #1b1b1b;
}
.img_header{
    border-radius: 12em;
    width: 192px;
    height: 192px;
    margin: 1em 0 1em -3em;
}
/* cuerpo */
.imagen-resumen{
    width: 100%;
    padding: 15px;
}
.ci-img{
    width: 524px;
    height: 259.02px;
}
.row.body-row.align-items-center{
    display: flex;
    padding: 1em;
    border-style: none;
    border-radius: 2.5em;
    background-color: #2f4550;
    color: #f3e9d2;
}
.titulo h1{
    display: flex;
    justify-content: center;
}
/*extras de trabajo*/
.ext-col{
  display: flex;
  justify-content: flex-start;

}
.ext-col img{
  width: 10em;
  height: 10em;
}

/*footer*/
div.row.body-row{
    padding: 1em;
    border-radius: 2.5em 2.5em 0 0;
    background-color: #2f4550;
    color: #f3e9d2;
}
/* icons footer */
footer i{
    font-size: 50px;
}
/* modal */
.close{
    color: #f3e9d2;
}
  .modal-header{
    color: #f3e9d2;
    border-style: none;
    background-color: #212622de;
    height: 60px
  }
  .modal-content{
    background-color: #212622de;
    border-style: none;

  }
  .modal-body{
    background-color: #212622de;
  }
  .close{
    color: #f3e9d2;
  }
  div#Modal{
    background-color: #212622de;
    border-style: none;
    width: 100%;
    height: 100%;
  }
  #main_img{
    margin-left: 30px;
    width: 940px;
    height: 300px;
  }
  #opc_galeria{
    display: table;
    margin: 0 auto;
  }
  img#img_1{
    width:  60px;
    height:  60px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    padding: 5px;
    margin: 10px 5px;
  }
  img#img_2{
    width:  60px;
    height:  60px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    padding: 5px;
    margin: 10px 5px;
  }
  img#img_3{
    width:  60px;
    height:  60px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    padding: 5px;
    margin: 10px 5px;
  }
  .footer-col{
    padding-bottom: 30px;
  }
  .ext-col{
    padding-left: 35px;
  }


